@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body {
    max-width: 400px;
    background: whitesmoke;
    font-family: 'Roboto';
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue';
}

#about-me-name {
    font-size: 60px;
    margin: 100px 0 0;
}
#me-pic {
    width: 100%;
    max-width: 300px;
    
}